.price {
  text-align: right;
}
.add-to-cart-button {
  background-color: rgb(124, 161, 149);
  color: white;
  border-radius: 30px;
  border: 0;
  padding: 15px;
}

.bottom-section {
  float: right;
}
