.modal {
  overflow-y: scroll;
}
.price {
  margin: 5px;
  text-align: center;
  padding: 5px;
  border: solid;
  border-color: rgb(65, 64, 64);
  border-radius: 4px;
  width: 80%;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-accordian {
  //border only on bottom none on other sides
  border-top: solid;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-color: rgb(65, 64, 64);
  box-shadow: none !important;
  border-radius: 0px;
  line-height: normal;
  width: 80%;
}

.item-description {
  padding: 0 30px 30px 30px;
}
.item-description.small-padding {
  padding: 0 10px 10px 10px;
}

.quantity-select {
  align-self: center;
}
