@use "../../styles/variables/colors" as *;

.shop-grid-item-container {
  padding: 15px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.shop-grid-item-container:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
  z-index: 10;
}

.shop-grid-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shop-item-label {
  position: absolute;
  background-color: white;
  opacity: 0.8;
  width: 180px;
  margin-top: -40px;
  height: 22px;
}

.shop-item-price {
  position: absolute;
  opacity: 0.8;
  height: 50px;
  background: white;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 11;
  p {
    margin-top: 12px;
  }
}

.shop-item-price.sale {
  background-color: rgb(245, 119, 100);
  color: white;
}
