@import "./variables/colors.scss";

h1,
h2,
h3,
p {
  font-family: "EB Garamond", serif;
}

.main-font {
  font-family: "EB Garamond", serif !important;
}

.main-header {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
}

.page-container {
  margin: 10px;
}

.round {
  border-radius: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-column.stretch {
  align-items: stretch !important;
}

/* slide in from bottom */
.transition {
  animation: fadeIn 0.5s ease-in-out;
  animation-delay: calc(0.1s * var(--i));

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
