@use "../../styles/variables/colors" as *;
.row {
  padding-bottom: 20px;
}

.stack {
  padding-left: 10px;
  padding-right: 10px;
}
.transition {
  animation: fadeIn 0.5s ease-in-out;
  animation-delay: calc(0.1s * var(--i));

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.title {
  margin: auto;
  width: 100%;
  background-color: $base-color;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.imageListBottom {
  width: 100%;
}

.homeMobileLayout {
  max-width: 800px;
  margin: auto;
}
