@use '../../styles/variables/colors' as *;

.contactContainerMobile {
  max-width: 900px;
  padding:10px;
}

.contactContainerMobile {
  margin: 10px;
}

.contact-header {
  font-weight: bold;
  font-size: 25px;
}

.margin-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.contact-info {
  width: 800px;
}

.accent {
  .text-container{
    background-color: $accent-color;
  }
}
