@use "../../styles/variables/colors" as *;

.contactContainerMobile {
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}

.contact-header {
  font-weight: bold;
  font-size: 25px;
}

.margin-5 {
  padding: 5px;
}

.contactInfoWide {
  width: 800px;
}

.accent {
  .text-container {
    background-color: $accent-color;
  }
}
