@use '../../styles/variables/colors' as *;

.contactContainerMobile {
  max-width: 900px;
  padding:10px;
  margin:auto;
}

.contactContainer {
  margin: 10px;
}

.contact-header {
  font-weight: bold;
  font-size: 25px;
}

.margin-5 {
  padding: 5px;

}

.contactInfoWide {
  width: 800px;
}

.accent {
  .text-container{
    background-color: $accent-color;
  }
}
